/* Responsive Smartphone Portrait */
@media (max-width: 576px) {
    .left-img {
        visibility: hidden;
    }

    .right-img {
        visibility: hidden;
    }

    .head-comtent h2 {
        font-size: 35px;
    }

    .head-comtent p {
        padding-top: 25px;
    }

    .head-comtent h5 {
        padding-top: 30px;
    }

    .btn {
        padding: 15px 25px;
        margin-left: 8px;
    }

    iframe {
        width: 100%;
    }

    .left-flw-jes {
        visibility: hidden;
        display: none;
    }

    .about-head {
        padding-top: 50px;
    }

    .right-flw-ros {
        visibility: hidden;
    }

    .about-head h2 {
        font-size: 25px;
    }

    .about-head p {
        font-size: 15px;
    }

    #Procedures {
        padding: 30px 0px;
    }

    .proced-head h2 {
        font-size: 35px;
    }

    .proced-head p {
        padding: 30px 20px;
    }

    .proced-main {
        padding-top: 15px;
    }

    .texti-slide-content p {
        padding: 30px 40px;
    }

    #team {
        padding: 40px 0px;
    }

    .team-head h2 {
        font-size: 35px;
    }

    .team-head p {
        padding: 20px 50px;
    }

    /*
    .appoinment-form-box select {
        width: 200px;
    }
*/

    .appoinment-form {
        padding: 20px;
    }

    .contact-head p {
        padding: 0px 15px;
    }

    .foot-menu ul li a {
        padding-left: 15px;
    }

    #footer {
        padding: 20px 0px;
    }

    .appoinment-form-box input {
        width: 100%;
    }










}



/* Responsive Smartphone Ladnscape And Above */
@media (min-width: 576px) and (max-width: 767px) {
    .left-img {
        display: none;
    }

    .right-img img {
        width: 400px;
    }

    .head-comtent h5 {
        padding-top: 10px;
        margin: 0;
    }

    .head-comtent h2 {
        padding-top: 10px;
        max-width: 245px;
        font-size: 30px;
    }

    .head-comtent p {
        padding-top: 10px;
        max-width: 310px;
        font-size: 14px;
    }

    .right-flw-ros {
        top: 5%;
    }

    .left-flw-jes {
        position: absolute;
        top: 150px;
        right: 0;
    }

    .about-head {
        padding-top: 80px;
    }

    .about-head h2 {
        font-size: 35px;
    }

    #Procedures {
        padding: 0;
    }

    .proced-head p {
        padding: 10px 50px;
    }

    .texti-slide-content p {
        padding: 30px 0px;
    }

    #testimoinal {
        padding: 30px 0px;
        margin-top: 30px;
    }

    .team-head p {
        margin: 0;
        padding: 20px 40px;
    }

    .team-iteam-content {
        padding: 10px;
        width: 125px;
    }

    .team-iteam-social ul li a {
        font-size: 10px;
        line-height: 18px;
        margin: 0;
        height: 20px;
        width: 20px;
    }

    .team-iteam-content h2 {
        font-size: 17px;
        margin: 0;
    }

    .team-iteam:hover .team-iteam-social {
        margin-top: 0;
    }

    .appoinment-form {
        padding: 50px 100px 30px 100px;
    }

    .contact-head p {
        padding: 10px 10px;
    }

    #footer {
        padding: 0;
    }








}

/* Responsive Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .left-img {
        display: none;
    }

    .head-comtent h5 {
        padding-top: 30px;
        font-size: 18px;
    }

    .head-comtent h2 {
        padding-top: 20px;
        max-width: 245px;
        font-size: 30px;
    }

    .head-comtent p {
        padding-top: 20px;
        max-width: 300px;
    }

    .proced-head p {
        padding: 15px 80px;
    }

    .proced-main {
        padding-top: 10px;
    }

    .right-img img {

        max-width: 500px;
    }


    .left-flw-jes {
        display: none;
    }

    .team-head p {
        padding: 20px 90px;
    }

    .about-head {
        padding-top: 140px;
    }

    .team-iteam-content {
        width: 185px;
    }

    #Procedures {
        padding: 20px 0px 40px;
    }

    .team-iteam-social ul li a {
        margin: 0 3px;
    }

    .team-iteam-content {
        padding: 10px;
    }

    .team-iteam:hover .team-iteam-social {
        opacity: 1;
        margin-top: 10px;
    }

    .appoinment-form {
        padding: 50px 100px 30px 100px;
    }

    #footer {
        padding: 0px 0px 20px;
    }














}


@media (min-width: 992px) and (max-width: 1199px) {}
