* {
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  /*    color: #007bff;*/
  text-decoration: none;
  background-color: transparent;
}

ul,
li {
  list-style-type: none;
}

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Rufina:wght@400;700&display=swap");
/*Fonts*/
/*=================
   Main Part Start
==================*/

/*Header Part Start*/
#header {
  position: relative;
}

.main-menu {
}

.logo,
.antm {
  /*
    width: 10em;
    height: 10em;
*/
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.antm:hover:hover {
  transform: rotate(10deg) scale(1.1);
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.menu {
}

.menu-iteam {
}

.menu .menu-iteam li a {
  padding: 0px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #263a41;
  text-decoration: none;
}

.menu .menu-iteam li a:hover {
  color: #ff817e;
}

.menu .menu-iteam li .active {
  color: #ff817e;
}

.head-comtent {
  margin-left: 5%;
}

.head-comtent h5 {
  padding-top: 150px;
  font-family: "Rufina", serif;
  font-size: 15px;
  color: #ff817e;
}

.head-comtent h2 {
  padding-top: 30px;
  max-width: 600px;
  font-family: "Rufina", serif;
  font-size: 60px;
  color: #1e2528;
  font-weight: 700;
}

.head-comtent p {
  padding-top: 40px;
  max-width: 570px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #263a41;
  font-weight: 400;
}

a.head-btn {
  text-decoration: none;
}

.head-btn {
  padding: 15px 30px;
  background: #ff817e;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.head-btn:hover {
  color: #263a41;
}

a.watch-btn {
  text-decoration: none;
}

.watch-btn {
  padding-left: 15px;
  font-size: 40px;
  vertical-align: middle;
  color: #fff;
}

.watch-btn span {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #263a41;
  vertical-align: middle;
}

.left-img {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: -1;
}
.left-img img {
  width: 100%;
}

.right-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  /*    width: 48%;*/
}

/*Header Part End*/

/*About Part Start*/
#about {
  padding: 0px 0px 50px 0px;
}

.about-head {
  padding-top: 200px;
  position: relative;
}

.about-head h3 {
  padding: 20px 0px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.about-head h2 {
  font-family: "Rufina", serif;
  font-size: 42px;
  color: #1e2528;
  font-weight: 700;
  padding: 10px 0px;
}

.about-head p {
  padding: 30px 30px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 15px 40px;
  background: #ff817e;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  max-width: 200px;
  margin-left: 30px;
}

.main-about-image {
  padding-top: 50px;
  margin: 0;
}

.about-img .btn:hover {
  /*    color: #263a41;*/
  color: #ffffff;
}

.btn:hover span {
  color: #ffffff;
}

/*
.about-img-iteam img {
    width: 100%;
}
*/

.about-img {
  padding-left: 0;
  position: relative;
}

.about-overley:hover {
  opacity: 1;
  transition: all linear 0.3s;
}

.about-overley img {
  width: 47px;
  height: 47px;
}

.about-overley {
  background: #eb7a77ad;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -15px;
  opacity: 0;
}

.overly-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overly-content h2 {
  font-family: "Rufina", serif;
  font-size: 22px;
  color: #fff;
}

.overly-content img {
  position: absolute;
  width: 47px !important;
  height: 47px !important;
  left: 50%;
  bottom: 65%;
  transform: translate(-50%, -50%);
}

.owl-carousel {
  cursor: grab;
}

.left-flw-jes {
  position: absolute;
  bottom: 330px;
  right: 0px;
}

.right-flw-ros {
  position: absolute;
  top: 15%;
  left: -40px;
}

/*About Part End*/

/*Procedures Part Start*/
#Procedures {
  padding: 80px 0px;
}

.proced-head h2 {
  font-family: "Rufina", serif;
  font-size: 42px;
  color: #263a41;
  font-weight: 700;
}

.proced-head p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: #888888;
  padding: 30px 150px;
}

.proced-main {
  padding-top: 60px;
}

.proced-iteam {
  padding-bottom: 30px;
  border: 1px solid #e3e6ea;
  transition: all linear 0.3s ease-in-out 0s;
}

.proced-brd {
  padding-top: 10px;
}

.proced-iteam-img img {
  width: 100%;
}

.proced-iteam-img {
  margin: 15px 15px;
}

.proced-content h2 {
  font-family: "Rufina", serif;
  font-size: 22px;
  color: #263a41;
  font-weight: 700;
}

.proced-content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #888888;
  padding: 20px 15px;
}

.proced-iteam button {
  background: #30383b;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
}

.proced-iteam:hover {
  box-shadow: 0 0 15px -5px #0000006e;
  transition: all linear 0.3s;
}

.proced-iteam:hover button {
  background: #ff817e;
  transition: all linear 0.3s;
}

.proced-iteam:hover .proced-iteam-img img {
  transform: scale(1.1);
  transition: all linear 0.3s;
}

/*Procedures Part End*/

/*Testimoinal Part Start*/
#testimoinal {
  background: #fff9f8;
  padding: 50px 0px;
}

.testi-slider {
  cursor: grab;
}

.slick-slide .slide-content {
  /*    margin: 0 auto;*/
  padding: 50px 100px;
  background: #fff;
  text-align: center;
}

.slick-list {
  margin: 20px 0px;
}

.slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  transition: 0.2s background-color ease-in-out 0s;
  border: none;
  padding: 0;
  color: transparent;
  width: 10px;
  height: 10px;
  background-color: #ffc3c2;
  margin-right: 10px;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #ff817e;
}

.testi-slide-img img {
  margin: 0 auto;
}

.texti-slide-content p {
  font-family: "Rufina", serif;
  font-size: 18px;
  color: #263a41;
  font-weight: 400;
  padding: 50px 80px;
}

.texti-slide-content-user {
  padding-bottom: 30px;
}

.texti-slide-content-user img {
  margin: 0 auto;
  border-radius: 50%;
}

.texti-slide-content-user h2 {
  font-family: "Rufina", serif;
  font-size: 24px;
  color: #263a41;
  font-weight: 500;
  padding-top: 15px;
}

.texti-slide-content-user span {
  font-family: "Rufina", serif;
  font-size: 15px;
  color: #263a41;
  font-weight: 600;
}

/*Testimoinal Part End*/

/*Team Part Start*/
#team {
  padding: 80px 0px;
}

.team-head h2 {
  font-family: "Rufina", serif;
  font-size: 42px;
  color: #263a41;
  font-weight: 700;
}

.team-head p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #888888;
  padding: 20px 150px;
}

.team-main {
}

.team-iteam {
  position: relative;
  padding-top: 30px;
  transition: 0.3s;
}

.team-iteam-img {
  box-shadow: 0 0 30px 5px #b5b5b557;
  margin-bottom: 50px;
}

.team-iteam-img img {
  width: 100%;
}

.team-iteam-content {
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 30px 10px 10px 10px;
  width: 300px;
  box-shadow: 0 0 30px 5px #b5b5b557;
}

.team-iteam-content h2 {
  font-family: "Rufina", serif;
  font-size: 22px;
  color: #263a41;
  font-weight: 700;
}

.team-iteam-content h5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #888888;
}

.team-iteam-social {
}

.team-iteam-social ul {
  list-style-type: none;
}

.team-iteam-social ul li {
  display: inline-block;
}

.team-iteam-social ul li a {
  border: 1px solid #30383b;
  border-radius: 50%;
  color: #30383b;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  height: 30px;
  width: 30px;
  transition: all linear 0.3s;
}

.team-iteam-social ul li a:hover {
  background: #ff817e;
  border: none;
  color: #fff;
  transition: all linear 0.3s;
}

.team-iteam-social {
  opacity: 0;
  margin-top: -30px;
  transition: all linear 0.3s;
}

.team-iteam:hover .team-iteam-social {
  opacity: 1;
  margin-top: 30px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  transition: all linear 0.3s;
}

/*Team Part End*/

/*Appoinment Part Start*/
#appoinment {
  /*    padding: 80px 0px;*/
  background: #fff9f8;
}

.appoinment-main {
  margin: 0;
  padding: 0;
}

.appoinment-iteam {
  padding: 0;
}

.appoinment-img img {
  width: 100%;
}

.appoinment-form {
  /*
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
*/
  padding: 50px 100px 0px 100px;
  /*    width: 650px;*/
}

.appoinment-form-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appoinment-form-box input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 48%;
}

.appoinment-form-box select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 265%;
}

.appoinment-form-box textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
}

/*Appoinment Part End*/

/*Contact PArt Start*/
#contact {
  padding: 10px 0px 70px 0px;
}

.contact-head h2 {
  font-family: "Rufina", serif;
  font-size: 42px;
  color: #1e2528;
  font-weight: 700;
  padding: 30px 0px;
}

.contact-head p {
  padding: 30px 80px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contact-left-iteam {
  display: flex;
}

.contact-left-iteam .text {
  padding-left: 30px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.contact-left-iteam .text span {
  display: inline-block;
  padding-bottom: 40px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/*Contact PArt End*/

/*Footer Part Start*/
#footer {
  padding: 70px 0px;
}

.foot-menu {
  padding: 45px 0px;
}

.foot-menu ul {
  list-style-type: none;
}

.foot-menu ul li {
  display: inline-block;
}

.foot-menu ul li a {
  padding-left: 30px;
  color: #263a41;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.foot-menu ul li a:hover {
  color: #ff817e;
}

.foot-social ul {
  list-style-type: none;
}

.foot-social ul li {
  display: inline-block;
}

.foot-social ul:nth-child(2) {
  border-left: none;
}

.foot-social ul li a {
  border-left: 1px solid #000;
  padding: 0px 10px;
  color: #263a41;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.foot-social ul li a:hover {
  color: #ff817e;
}

.copyright h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #888888;
}

.copyright h3 span {
  color: #ff817e;
}

/*Footer Part End*/

.desigh-by h1 {
  color: #888888;
  padding: 30px;
}

.desigh-by h1 a {
  color: #ff817e;
  text-decoration: none;
}

.linksl {
  outline: none;
  text-decoration: none;
  position: relative;
  /*    font-size: 8em;*/
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

.kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #17a2b8;
}

.kukuri:hover {
  color: #ff817e;
}

.kukuri::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #f9f9f9;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.kukuri:hover::after {
  transform: translate3d(100%, 0, 0);
}

.kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.kukuri:hover::before {
  width: 100%;
}
